# this code is similar to the login, blogpost, blogposts one
{% extends "blogs/base.html" %} # extend #base.html, as we do for all pages in the project
{% load bootstrap3 %} # we load the bootstrap3 template tags into this template
{% block header %} # we define the header block, which describes what the page is for
<h2>
  {{ blogpost }}<br/>
  <small>
    Edit post
  </small>
</h2>
{% endblock header%} 
{% block content %}

<form action="{% url 'blogs:edit_post' post_id %}" method="POST" class="form">
{% csrf_token %}
{% bootstrap_form form %}

{% buttons %} # we open a bootstrap3 template tag #{% buttons %}, which adds Bootstrap styling to buttons
<button name='submit'>Edit post</button>
{% endbuttons %}
</form>
{% endblock content %}
