{% extends "blogs/base.html" %}
{% load bootstrap3 %} # we load the bootstrap3 template tags into this template

{% block header %} # we define the header block, which describes what the page is for
  <h2>Log in to your account.</h2>
{% endblock header %}

{% block content %}

  <form method="post" action="{% url 'users:login' %}" class="form"> # add the class form attribute
   {% csrf_token %}
   {% bootstrap_form form %} # we display the form 

   {% buttons %}
     <button name="submit" class="btn btn-primary">log in</button>
   {% endbuttons %}
    
   <input type="hidden" name="next" value="{% url 'blogs:index' %}" />
 </form>
    
{% endblock content %}
