{% extends "blogs/base.html" %}
{% load bootstrap3 %} # we load the bootstrap3 template tags into this template

{% block header %} # we define the header block, which describes what the page is for
  <h2>Log in to your account.</h2>
{% endblock header %}

{% block content %}

  <form method="post" action="{% url 'users:login' %}" class="form"> # add the class form attribute
   {% csrf_token %}
   {% bootstrap_form form %} # we display the form 

   {% buttons %} # we open a bootstrap3 template tag #{% buttons %},which adds Bootstrap styling to buttons
     <button name="submit" class="btn btn-primary">log in</button>
   {% endbuttons %}
    
   <input type="hidden" name="next" value="{% url 'blogs:index' %}" /> # include a hidden form element, # 'next'; the value argument tells Django where to redirect the user after they’ve logged in successfully # In this case, we send the user back to the home page
 </form>
    
{% endblock content %}
