# this code acts the same as the login, blogpost, blogposts page
{% extends "blogs/base.html" %}
{% load bootstrap3 %} # we load the bootstrap3 template tags into this template
{% block header %} # we define the header block, which describes what the page is for
<h2>
  {{ blogpost }}<br/>
  <small>
    Add new post
  </small>
</h2>
{% endblock header%} 
{% block content %}

<form action="{% url 'blogs:new_post' blogpost.id %}" method='POST' class="form">
 {% csrf_token %}
 {% bootstrap_form form %}

 {% buttons %} # we open a bootstrap3 template tag #{% buttons %},which adds Bootstrap styling to buttons
 <button name='submit' class="btn btn-primary">Add post</button>
 {% endbuttons %}
</form>
{% endblock content %}
