# most of the changes are similar to the index html
{% extends "blogs/base.html" %}
{% load bootstrap3 %}

{% block header %} # we load bootstrap3 and add the header block with an appropriate message 
  <h2>Add a new blogpost:</h2>
{% endblock header %}

{% block content %}

  <form action="{% url 'blogs:new_blogpost' %}" method='post'
      class="form">

    {% csrf_token %}
    {% bootstrap_form form %}

    {% buttons %} # use the bootstrap3 structure for the submit button # Log in and navigate to the #new_blogpost page; it should look similar to the login page now
      <button name="submit" class="btn btn-primary">add blogpost</button>
    {% endbuttons %}

  </form>
    
{% endblock content %}
